@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --sage: #bfaa8c;
  --vanilla: #d1c0a8;
  --white: #e8ded1;
  --brown: #a0816c;
  --mustard: #c8ad7e;
  --success: #22bb33;
  --warning: #f0ad4e;
  --fail: #bb2124;
  --info: #5bc0de;
  --grey: #aaaaaa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;

  /*font-family: 'Montserrat', sans-serif;*/
}

html,
body,
#__next,
main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--white);
}

.page-container {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background: var(--white);
}

input:focus, input:focus-visible, button:focus {
  outline: none;
}