.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
.nav{
  flex: 1;
  text-align: right;
}
.nav ul{
  display: inline-block;
  list-style-type: none;
  border-radius: 20px;
  transition: .3s;
}
.nav ul :hover{
  display: inline-block;
  list-style-type: none;
  border-radius: 5px;
  color: white;
  background-color: #ff523b;
}
.nav ul li{
  display: inline-block;
  margin-right: 20px;
}
.logo{
  size: 50%;
}
.a{
  border-radius: 10%;
  text-decoration: none;
  color: #555;
}
.a :active{
  text-decoration: line-through;
}
.p{
  color: #555;
}
.container{
  max-width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ff523b;
}