.task_container {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.remove {
    width: 16px;
    color: var(--brown);
    transition: 0.2s ease all;
}

.remove:hover {
    color: var(--fail);
}


.task_name {
    font-size: 24px;
    font-weight: 400;
    color: var(--brown);
}